*.pyc
.ipynb_checkpoints/
installation/temp/
installation/installation.log
untitled*
.pixi
modflow6
win64ext*

# model data
notebooks/1_Intro_FloPy/temp
notebooks/2_Variable_Density_Flow/ameland
notebooks/3_Aquifer_Storage_and_Recovery/model1d
notebooks/4_Parallel_NetCDF_UGrid/simbase
notebooks/4_Parallel_NetCDF_UGrid/simsplit